@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy|Indie+Flower|Libre+Baskerville');

@mixin text3d($color) {
    color:$color;
    text-shadow:-1px -1px 0 darken($color, 40%),
                1px -1px 0 darken($color, 40%),
                -1px 1px 0 darken($color, 40%),
                1px 1px 0 darken($color, 40%),

                0 1px 0 darken($color, 20%),
                0 2px 0 darken($color, 22.5%),
                0 3px 0 darken($color, 25%),
                0 4px 0 darken($color, 27.5%),
                0 5px 0 darken($color, 30%),
                0 6px 0 darken($color, 32.5%),
                0 7px 0 darken($color, 35%),
                0 8px 0 darken($color, 37.5%),
                0 9px 0 darken($color, 40%),
                0 10px 0 darken($color, 42.5%),
                0 11px 0 darken($color, 45%),

                0 6px 1px rgba(0,0,0,.1),
                0 0 5px rgba(0,0,0,.1),
                0 1px 3px rgba(0,0,0,.3),
                0 3px 5px rgba(0,0,0,.2),
                0 5px 10px rgba(0,0,0,.25),
                0 10px 10px rgba(0,0,0,.2),
                0 20px 20px rgba(0,0,0,.15);
}

@mixin text3dsmall($color) {
    color:$color;
    text-shadow:-1px -1px 0 darken($color, 40%),
                1px -1px 0 darken($color, 40%),
                -1px 1px 0 darken($color, 40%),
                1px 1px 0 darken($color, 40%),

                0 1px 0 darken($color, 20%),
                0 2px 0 darken($color, 25%),
                0 3px 0 darken($color, 30%),
                0 4px 0 darken($color, 35%),
                0 5px 0 darken($color, 40%),
                0 6px 0 darken($color, 45%),

                0 6px 1px rgba(0,0,0,.1),
                0 0 5px rgba(0,0,0,.1),
                0 1px 3px rgba(0,0,0,.3),
                0 3px 5px rgba(0,0,0,.2),
                0 5px 10px rgba(0,0,0,.25),
                0 10px 10px rgba(0,0,0,.2),;
}


html, body {
    font-family: 'Libre Baskerville', 'Indie Flower', cursive;
    font-size: 16pt;
    font-weight: 200;
    width:100%;
    height:100%;
    margin: 0;
    padding:0;
    color:#333;
    background: linear-gradient(20deg, #b83295 0%, #1496d5 100%);
    background-attachment: fixed;
}

#world {
    position: fixed;
    z-index: 0;
}
main {
    min-height:100vh;
}
footer {
    background:rgba(0,0,0,.9);
    padding:20px;
    text-align: center;
    font-family: "classic-comic", sans-serif;
    a {
        display: inline-block;
        padding:20px;
        color:#fff;
        &:hover {
            color:#fff;
        }
        @media(max-width: 992px) {
            display: block;
        }
    }


}

#logo {
    font-family: 'Luckiest Guy', cursive;
    left:0;
    right:0;
    position: relative;
    margin-bottom: 20px;
    top:20px;
    z-index: 2;

    text-align: center;

    $c: #fbfcfd;
    color: $c;
    @include text3d($c);

    font-weight: 900;
    font-size: 96pt;
    text-transform: uppercase;
    letter-spacing: 5px;
    line-height: 96pt;
    a {
        color:$c;
        &:hover {
            text-decoration: none;
        }
    }

    @media(max-width: 992px) {
        @include text3dsmall($c);
        font-size: 24pt;
        line-height: 39pt;
        text-align: left;
        padding-left: 20px;
    }
}

#menu-close,
#menu-open {
    top:20px;
    right:20px;
    font-size:48pt;
    width:96px;
    height:96px;
    line-height: 110px;
    display: block;

    text-align: center;
    border-radius: 50px;
    text-decoration: none;
    color:#fff;
    background:rgba(0,0,0,.5);


    @media(max-width: 768px) {
        font-size:24pt;
        width:48px;
        height:48px;
        line-height: 55px;
    }
}
#menu-open {
    position: fixed;
    z-index: 101;
}
#menu-close {
    position: fixed;
    z-index: 102;
}

#menu {
    font-family: "classic-comic", sans-serif;
    display: none;
    position: fixed;
    z-index:1000;
    height:100vh;
    top:0;
    left:0;
    right:0;
    background: rgba(255,255,255,.97);

    &.open {
        display: block;
    }

    nav {

        text-align: center;
        font-size:20pt;
        padding:100px;

        a {
            color:#000;
            display: block;
            text-decoration: none;
            line-height: 20pt;
            margin-bottom: 30px;
            &:hover {
                color:#444;
            }
        }
    }

}

.block-title {
    font-family: 'Luckiest Guy', cursive;
    text-align: center;

    $c: #fdfdfb;
    color: $c;
    @include text3dsmall($c);

    font-weight: 400;
    font-size: 48pt;
    text-transform: uppercase;
    letter-spacing: 5px;

    @media(max-width: 992px) {
        font-size: 24pt;
    }
}
.block {
    padding:20px;
    background:#fff;
    margin-bottom: 100px;
    &.no-padding {
        padding: 0;
    }
    &.no-margin {
        margin: 0;
    }
}

.list-group {
    font-family: "classic-comic", sans-serif;
    font-size: 12pt;
    a {
        display: block;
        padding: 15px;
    }

    p,
    a.showAll {
        display: block;
        padding: 30px 15px;
        background: #eee;
    }
}

.sub-title {
    font-family: 'Luckiest Guy', cursive;
    text-align: center;

    $c: #fdfbfd;
    color: $c;
    @include text3dsmall($c);

    font-weight: 900;
    font-size: 24pt;
    text-transform: uppercase;
    letter-spacing: 5px;

    @media(max-width: 992px) {
        font-size: 18pt;
    }
}

.floated-image-left {
    float:left;
    height:200px;
    margin:20px;
}
.floated-image-right {
    float:right;
    height:200px;
    margin:20px;
}

.btn {
    font-family: "classic-comic", sans-serif;
    text-shadow: 2px 2px #000;
    margin-bottom:20px;
}

ol {
    counter-reset: item;
    list-style-type: none;
    padding-left: 0;

    & > li {
        position: relative;
        margin-left: 50px;
        margin-bottom: 10px;

        &:before {
            font-family: "classic-comic", sans-serif;
            position: absolute;
            left:-50px;
            top:0;
            display: block;
            margin-bottom: 10px;
            content: counter(item) "  ";
            counter-increment: item;
            width:30px;
            height:30px;
            border-radius: 50px;
            text-align: center;
            color:#fff;
            display: inline-block;
            background: #000;
            margin-right: 10px;
        }
    }
}

ul {
    &.todo {
        list-style-type: none;
        font-family: "classic-comic", sans-serif;
        & > li {
            margin-bottom: 20px;
            &:before {
                content: '';
                display: inline-block;
                width: 16px;
                height: 16px;
                border-radius: 24px;
                border:5px solid #888;
                margin-right: 10px;
            }
        }
    }
}


div[class^="col-"] {
    padding-left:0;
    padding-right: 0;
}

form {
    font-family: "classic-comic", sans-serif;
    font-size: 18pt;
}
fieldset {
    margin-bottom: 50px !important;
}
small {
    font-size: 8pt;
    font-family: arial;
}
.help-block {
    font-size: 10pt;
}
