@import url("https://fonts.googleapis.com/css?family=Luckiest+Guy|Indie+Flower|Libre+Baskerville");
/* line 54, C:/Users/johosc/Dropbox/hatchimals.se/css/main.scss */
html, body {
  font-family: 'Libre Baskerville', 'Indie Flower', cursive;
  font-size: 16pt;
  font-weight: 200;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: #333;
  background: linear-gradient(20deg, #b83295 0%, #1496d5 100%);
  background-attachment: fixed; }

/* line 67, C:/Users/johosc/Dropbox/hatchimals.se/css/main.scss */
#world {
  position: fixed;
  z-index: 0; }

/* line 71, C:/Users/johosc/Dropbox/hatchimals.se/css/main.scss */
main {
  min-height: 100vh; }

/* line 74, C:/Users/johosc/Dropbox/hatchimals.se/css/main.scss */
footer {
  background: rgba(0, 0, 0, 0.9);
  padding: 20px;
  text-align: center;
  font-family: "classic-comic", sans-serif; }
  /* line 79, C:/Users/johosc/Dropbox/hatchimals.se/css/main.scss */
  footer a {
    display: inline-block;
    padding: 20px;
    color: #fff; }
    /* line 83, C:/Users/johosc/Dropbox/hatchimals.se/css/main.scss */
    footer a:hover {
      color: #fff; }
    @media (max-width: 992px) {
      /* line 79, C:/Users/johosc/Dropbox/hatchimals.se/css/main.scss */
      footer a {
        display: block; } }

/* line 94, C:/Users/johosc/Dropbox/hatchimals.se/css/main.scss */
#logo {
  font-family: 'Luckiest Guy', cursive;
  left: 0;
  right: 0;
  position: relative;
  margin-bottom: 20px;
  top: 20px;
  z-index: 2;
  text-align: center;
  color: #fbfcfd;
  color: #fbfcfd;
  text-shadow: -1px -1px 0 #7396b9, 1px -1px 0 #7396b9, -1px 1px 0 #7396b9, 1px 1px 0 #7396b9, 0 1px 0 #b7c9db, 0 2px 0 #aec3d7, 0 3px 0 #a6bcd3, 0 4px 0 #9db6ce, 0 5px 0 #95b0ca, 0 6px 0 #8ca9c6, 0 7px 0 #84a3c2, 0 8px 0 #7b9cbd, 0 9px 0 #7396b9, 0 10px 0 #6a90b5, 0 11px 0 #6289b1, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15);
  font-weight: 900;
  font-size: 96pt;
  text-transform: uppercase;
  letter-spacing: 5px;
  line-height: 96pt; }
  /* line 114, C:/Users/johosc/Dropbox/hatchimals.se/css/main.scss */
  #logo a {
    color: #fbfcfd; }
    /* line 116, C:/Users/johosc/Dropbox/hatchimals.se/css/main.scss */
    #logo a:hover {
      text-decoration: none; }
  @media (max-width: 992px) {
    /* line 94, C:/Users/johosc/Dropbox/hatchimals.se/css/main.scss */
    #logo {
      color: #fbfcfd;
      text-shadow: -1px -1px 0 #7396b9, 1px -1px 0 #7396b9, -1px 1px 0 #7396b9, 1px 1px 0 #7396b9, 0 1px 0 #b7c9db, 0 2px 0 #a6bcd3, 0 3px 0 #95b0ca, 0 4px 0 #84a3c2, 0 5px 0 #7396b9, 0 6px 0 #6289b1, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2);
      font-size: 24pt;
      line-height: 78pt;
      text-align: left;
      padding-left: 20px; } }

/* line 131, C:/Users/johosc/Dropbox/hatchimals.se/css/main.scss */
#menu-close,
#menu-open {
  top: 20px;
  right: 20px;
  font-size: 48pt;
  width: 96px;
  height: 96px;
  display: block;
  text-align: center;
  border-radius: 50px;
  text-decoration: none;
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
  line-height: 110px; }

/* line 146, C:/Users/johosc/Dropbox/hatchimals.se/css/main.scss */
#menu-open {
  position: fixed;
  z-index: 101; }

/* line 150, C:/Users/johosc/Dropbox/hatchimals.se/css/main.scss */
#menu-close {
  position: fixed;
  z-index: 102; }

/* line 155, C:/Users/johosc/Dropbox/hatchimals.se/css/main.scss */
#menu {
  font-family: "classic-comic", sans-serif;
  display: none;
  position: fixed;
  z-index: 1000;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.97); }
  /* line 166, C:/Users/johosc/Dropbox/hatchimals.se/css/main.scss */
  #menu.open {
    display: block; }
  /* line 170, C:/Users/johosc/Dropbox/hatchimals.se/css/main.scss */
  #menu nav {
    text-align: center;
    font-size: 20pt;
    padding: 100px; }
    /* line 176, C:/Users/johosc/Dropbox/hatchimals.se/css/main.scss */
    #menu nav a {
      color: #000;
      display: block;
      text-decoration: none;
      line-height: 20pt;
      margin-bottom: 30px; }
      /* line 182, C:/Users/johosc/Dropbox/hatchimals.se/css/main.scss */
      #menu nav a:hover {
        color: #444; }

/* line 190, C:/Users/johosc/Dropbox/hatchimals.se/css/main.scss */
.block-title {
  font-family: 'Luckiest Guy', cursive;
  text-align: center;
  color: #fdfdfb;
  color: #fdfdfb;
  text-shadow: -1px -1px 0 #b9b973, 1px -1px 0 #b9b973, -1px 1px 0 #b9b973, 1px 1px 0 #b9b973, 0 1px 0 #dbdbb7, 0 2px 0 #d3d3a6, 0 3px 0 #caca95, 0 4px 0 #c2c284, 0 5px 0 #b9b973, 0 6px 0 #b1b162, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2);
  font-weight: 400;
  font-size: 48pt;
  text-transform: uppercase;
  letter-spacing: 5px; }
  @media (max-width: 992px) {
    /* line 190, C:/Users/johosc/Dropbox/hatchimals.se/css/main.scss */
    .block-title {
      font-size: 24pt; } }

/* line 207, C:/Users/johosc/Dropbox/hatchimals.se/css/main.scss */
.block {
  padding: 20px;
  background: #fff;
  margin-bottom: 100px; }
  /* line 211, C:/Users/johosc/Dropbox/hatchimals.se/css/main.scss */
  .block.no-padding {
    padding: 0; }
  /* line 214, C:/Users/johosc/Dropbox/hatchimals.se/css/main.scss */
  .block.no-margin {
    margin: 0; }

/* line 219, C:/Users/johosc/Dropbox/hatchimals.se/css/main.scss */
.list-group {
  font-family: "classic-comic", sans-serif;
  font-size: 12pt; }
  /* line 222, C:/Users/johosc/Dropbox/hatchimals.se/css/main.scss */
  .list-group a {
    display: block;
    padding: 15px; }
  /* line 228, C:/Users/johosc/Dropbox/hatchimals.se/css/main.scss */
  .list-group p,
  .list-group a.showAll {
    display: block;
    padding: 30px 15px;
    background: #eee; }

/* line 235, C:/Users/johosc/Dropbox/hatchimals.se/css/main.scss */
.sub-title {
  font-family: 'Luckiest Guy', cursive;
  text-align: center;
  color: #fdfbfd;
  color: #fdfbfd;
  text-shadow: -1px -1px 0 #b973b9, 1px -1px 0 #b973b9, -1px 1px 0 #b973b9, 1px 1px 0 #b973b9, 0 1px 0 #dbb7db, 0 2px 0 #d3a6d3, 0 3px 0 #ca95ca, 0 4px 0 #c284c2, 0 5px 0 #b973b9, 0 6px 0 #b162b1, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2);
  font-weight: 900;
  font-size: 24pt;
  text-transform: uppercase;
  letter-spacing: 5px; }
  @media (max-width: 992px) {
    /* line 235, C:/Users/johosc/Dropbox/hatchimals.se/css/main.scss */
    .sub-title {
      font-size: 18pt; } }

/* line 253, C:/Users/johosc/Dropbox/hatchimals.se/css/main.scss */
.floated-image-left {
  float: left;
  height: 200px;
  margin: 20px; }

/* line 258, C:/Users/johosc/Dropbox/hatchimals.se/css/main.scss */
.floated-image-right {
  float: right;
  height: 200px;
  margin: 20px; }

/* line 264, C:/Users/johosc/Dropbox/hatchimals.se/css/main.scss */
.btn {
  font-family: "classic-comic", sans-serif;
  text-shadow: 2px 2px #000; }

/* line 269, C:/Users/johosc/Dropbox/hatchimals.se/css/main.scss */
ol {
  counter-reset: item;
  list-style-type: none;
  padding-left: 0; }
  /* line 274, C:/Users/johosc/Dropbox/hatchimals.se/css/main.scss */
  ol > li {
    position: relative;
    margin-left: 50px;
    margin-bottom: 10px; }
    /* line 279, C:/Users/johosc/Dropbox/hatchimals.se/css/main.scss */
    ol > li:before {
      font-family: "classic-comic", sans-serif;
      position: absolute;
      left: -50px;
      top: 0;
      display: block;
      margin-bottom: 10px;
      content: counter(item) "  ";
      counter-increment: item;
      width: 30px;
      height: 30px;
      border-radius: 50px;
      text-align: center;
      color: #fff;
      display: inline-block;
      background: #000;
      margin-right: 10px; }

/* line 301, C:/Users/johosc/Dropbox/hatchimals.se/css/main.scss */
div[class^="col-"] {
  padding-left: 0;
  padding-right: 0; }

/* line 306, C:/Users/johosc/Dropbox/hatchimals.se/css/main.scss */
.btn {
  margin-bottom: 20px; }

/*# sourceMappingURL=main.css.map */
