---
layout: default
---

<div class="row">
    <div class="col-md-offset-1 col-md-10">
        <div class="block">

            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/8fpx1jgK0gw?list=PLuakkDQJ6JmUNpHE-_enru0d37bF-2xz_" allowfullscreen></iframe>
            </div>

        </div>
    </div>
</div>

<h1 class="block-title">Hatchimals-familjen</h1>
<div class="block">
    <div class="row">
        <div class="col-md-4">
            <h1 class="sub-title">Draggles</h1>
            <img src="/img/draggles.jpg" class="img-responsive" />
        </div>
        <div class="col-md-4">
            <h1 class="sub-title">Owlicorns</h1>
            <img src="/img/owlicorns.jpg" class="img-responsive" />
        </div>
        <div class="col-md-4">
            <h1 class="sub-title">Pengualas</h1>
            <img src="/img/pengualas.jpg" class="img-responsive" />
        </div>
    </div>
</div>
<h1 class="block-title">Vad är en Hatchimal?</h1>
<div class="block">
    <img src="img/purple.jpg" class="floated-image-right" />
    <p>
        Kanske har du inte hört talas om Hatchimals ännu, vilket inte är så konstigt.. allt kring Hatchimals har varit hemligt.
        Inom leksaksbranschen är däremot detta en bomb! Förväntningen är att Hatchimals kommer bli en succé, sälja slut och bli årets julklapp 2016.
    </p>
    <img src="img/egg.png" class="floated-image-left" />
    <hr>
    <p>
        Hatchimals är en ny, mycket innovativ och den mest roliga leksaken 2016.
        Nästan ingen information fanns tillgänglig om Hatchimals innan den lanserades på New York Toy Fair 2016, där den blev omedelbar succé och fick folk att häpna.
    </p>
    <hr>
    <img src="img/sidebyside.jpeg" class="floated-image-right" />
    <p>
        Trots allt prat om Hatchimals så är det en otrolig mystik kring dem.
        Sedan lanseringen den 7 oktober 2016 har de barn som fått dem blivit helt upptagna av sin Hatchimal som är en modern och roligare variant av Tamagochi.
    </p>
    <hr>
    <p>
        Hatchimal förväntas bli årets julklapp 2016 samt årets leksak 2016.
        Varför den förväntas bli årets leksak är på grund av mystiken kring den, att ditt barn kommer få en ny kompis och att barn lär sig ta ansvar och omvårdnad.
    </p>
</div>


<h1 class="block-title">Var köper jag en Hatchimal?</h1>
<div class="block">
    <p>Det finns flera butiker som säljer Hatchimals i både Sverige och internationellt.</p>
    <p>För närvarande kan man endast köpa Hatchimals från BR Leksaker samt från Toys'R'us i Sverige.</p>
    <p>I Stockholm, Göteborg och Malmö finns flera fysiska butiker men båda kedjorna har även webbshoppar där man kan köpa sin Hatchimal.</p>

    <a class="btn btn-primary btn-lg" href="http://www.br.se/hitta-butik" target="_blank">Hitta BR butiker</a>
    <a class="btn btn-primary btn-lg" href="http://www.toysrus.se/hitta-butik" target="_blank">Hitta Toys'R'us butiker</a>
    <br><br>
    <p>
        Är du sugen på att köpa Hatchimals från en internationell butik så är det inte billigare. Amazon säljer dem för 59,99$ medan de i sverige kostar runt 549SEK.
        Därför är det enklare att köpa dem i Sverige då du får betydligt enklare retur, ångerrätt och garanti.
    </p>
</div>

<h1 class="block-title">Frågor och svar</h1>
<div class="block">
    {% for post in site.posts %}
        {% if post.categories contains 'qa' %}
            <article>
                <h3>
                    <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title | escape }}</a>
                </h3>
            </article>
        {% endif %}
    {% endfor %}
</div>
