<h1 class="block-title">Vanliga frågor</h1>
<div class="block no-padding">
    <div class="list-group">
        {% for post in site.posts %}
            {% if post.categories contains 'qatop' %}
                <a class="list-group-item" href="{{ post.url | prepend: site.baseurl }}">
                    {{ post.title | escape }}
                    <span class="glyphicon glyphicon-menu-right pull-right"></span>
                </a>

            {% endif %}
        {% endfor %}

        <a class="showAll" href="/pages/fargor-och-svar.html">
            Visa alla Frågor och svar
            <span class="glyphicon glyphicon-menu-right pull-right"></span>
        </a>

    </div>
</div>
